<div class="footer">
    <table border=0;>
        <tr>
            <td width=33%;>
                <img src="../images/ryancard.jpg" style=width:100%;>
            </td>
            <td style=font-size:20px;vertical-align:top; width=45%;>
                    <div>
                        <div style="text-align:left; padding-right:30px; padding-left:30px;">
                            <br>
                            <strong>Need a real estate agent near you?</strong> Let me refer you to a great agent that you can trust!
                            I will be contacting you soon to see how it is going!
                        </div>
                        <div style="text-align:right; padding-right:30px;">
                            Peace and God bless,
                            <br>
                            <strong>Ryan Rutter</strong>
                        </div>
                    </div>
                </td>
            <td width=33%; style=line-height:30px;>
                <div style=padding-top:10px;font-size:20px;text-align:left;>
                <strong><u>Contact Information</u></strong><br>
                <strong>Ryan Rutter</strong>
                <br>
                <a href="mailto:rutterrealtygc@gmail.com">rutterrealtygc@gmail.com</a><br> 
                <a href="tel:251-752-1618">251-752-1618</a>
                <br>
                <br>
                <br> 
                <br> 
                <br> 
                <br> 
            </div>
            </td>
        

        </tr>
        <tr>
            <td colspan="3" style=text-align:center; bgcolor="00000000">
                    Copyright © 2018 Rutter Realty Gulf Coast - All rights reserved. Keller Williams AL Gulf Coast Daphne | 27880 N Main St. Ste C Daphne, AL 36526 | 251-928-9890
            </td>
        </tr>
    </table>
</div>