<header>


    <!--<div style='padding: 25px;' class="navbar">-->
        <!--<a href="/">-->

            <!--<img class="icon-logo" src="../images/kwlogo.png" />-->

        <!--</a>-->
        <!--<ul style='float: right;' class="nav navbar-nav">-->
            <!--<div id="sb-social">-->
                <!--<a href="#">-->
                    <!--<img class='footerImage' src="/images/instagram_icon.png" alt="instagram">-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--<img class='footerImage' src="/images/facebook_icon.png" alt="facebook">-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--<img class='footerImage' src="/images/twitter_icon.png" alt="twitter">-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--<img class='footerImage' src="/images/linkedin_icon.png" alt="linkedin">-->
                <!--</a>-->
            <!--</div>-->
        <!--</ul>-->
    <!--</div>-->

</header>