<header>
    <div id="logo">
        <a href="/">
            <figure>
                <img class="icon-logo" src="../images/icon_logo.png"/>
            </figure>
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/prayers">Prayer Corner</a>
            </li>
            <li>
                <a href="#">Parishes
                    <span class="caret"></span>
                </a>
                <nav>
                    <ul>
                        <li>
                            <a href="/parishes/illinois">Illinois</a>
                        </li>
                        <li>
                            <a href="/parishes/indiana">Indiana</a>
                        </li>
                        <li>
                            <a href="/parishes/ohio">Ohio</a>
                        </li>
                        <li>
                            <a href="/parishes/northcarolina">North Carolina</a>
                        </li>
                        <li>
                            <a href="#">Start A Chapter!</a>
                        </li>
                    </ul>
                </nav>

            <li>
                <a href="/contact">Contact Us</a>
            </li>


        </ul>
    </nav>
</header>
