footer {
    height: 13vh;
    background: rgba(255, 255, 255, 0.769);
    border-top: 0.1vw groove rgba(165, 196, 236, 0.507);
    text-align: center;
    padding: 0.5vw;
    line-height: 0px;
    margin-top: 10px;

}

p.copyright-text {
    font-family: "Times New Roman";
    letter-spacing: 0.1vw;
    font-size: 0.8vw;
    line-height: 1.6vw;
    color: rgb(121, 131, 138);
    margin: 0;
}


