* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("../images/slow_clouds.png");
    background-size: cover;
}

/*html, body {*/

/*height: 100vh;*/
/*}*/

main{
    margin-top: 8vh;
}
section#initial-view {
    width: 100vw;
    display: grid;
    grid-template-columns: 35vw 30vw 35vw;
    grid-template-rows: 7.5vh 51.5vh 41vh;
    grid-template-areas: "nav nav nav" "left-sidebar mary-img right-sidebar" "logo-name logo-name logo-name" "footer footer footer";
    grid-gap: 0;
}

div#video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

video#bgVid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/homepage_poster.png") no-repeat;
    background-size: cover;
}

button#vidPause {
    background: rgba(255, 255, 255, 0);
    border: 0.5vw solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    outline: 0;
}

nav {
    grid-area: nav;
    grid-column: 1 / 4;
}

aside#left-sidebar {
    grid-area: left-sidebar;
    grid-column: 1;
}

div#mary-container {
    grid-area: mary-img;
    grid-column: 2;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    margin-top: 1vw;
}

img#main-mary {
    width: 100%;
    height: 100%;
}

img.mary-logo {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 0.05vw solid rgba(0, 0, 0, .6);
    box-shadow: 0 0.3vw 2vw rgba(0, 0, 0, .6);
}

aside#right-sidebar {
    grid-area: right-sidebar;
    grid-column: 3;
}

div#logo-container {
    grid-area: logo-name;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Monotype Corsiva", "Garamond", serif;
    word-wrap: normal;
}

article.mask-clouds {
    background: url("/images/clouds_poster.png") center center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: travelClouds 30s linear infinite;
    -moz-animation: travelClouds 30s linear infinite;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-animation: travelClouds 30s linear infinite;
    -o-text-fill-color: transparent;
    -o-background-clip: text;
    -o-animation: travelClouds 30s linear infinite;
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
}

@-webkit-keyframes travelClouds {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right bottom;
    }
}

@-moz-keyframes travelClouds {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right bottom;
    }
}

h1 {
    top: 0;
    font-size: 12vw;
    font-weight: bold;
    margin: 0;
}

sub {
    font-size: 1.3vw;
}

h2 {
    margin: 0;
    line-height: 4vw;
    font-size: 2vw;
    letter-spacing: 0.8vw;
    font-family: "Times New Roman", "Garamond", serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.61);
}

/*smaller screens*/

@media (min-aspect-ratio: 16/9) {
    video#bgVid {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    video#bgVid {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    div#video-container {
        background: url("../images/clouds_poster.png") center center / cover no-repeat;
    }

    video#bgVid {
        display: none;
    }
}
