

.intro {
    text-align: center;
    font-weight: bolder;
}

.preface {
    width: 100%;
    margin: 15px 0px;
    border-radius: 5px;

}

.innerBold {
    font-weight: bolder;
}

.prefaceImage {
    width: 100%;
    border-radius: 5px;

}

.splitpar {
    margin: 5px;

}

.mybutton {
    font-size: 18px;
    color: white;
    background-color: #00AADA;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bolder;
}
.mybutton:hover {
    font-size: 18px;
    color: white;
    background-color: #0bc9da;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bolder;
}

#buttonBox {
    width: 40%;
    margin: 10px auto;
    padding: 20px 30px;
    font-size: 16px;
}

.buttonBoxleft{
    float: left;
}

.buttonBoxright{
    float: right;
}


