<link rel='stylesheet' href='/css/contact.css' />

<section id='contactSection'>
  <div class="row">
    <div class="col-md-12">
      <h3>Subscribe: </h3>
      <form name="sentMessage" id="contactForm" action="/mailpost" method="POST">
        <div class="control-group form-group">
          <div class="controls">
            <label>First Name:</label>
            <input name="firstName" type="text" class="form-control" id="name" placeholder="John" size="30" required data-validation-required-message="Please enter your first name.">
            <span class="validity"></span>
          </div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
              <label>Last Name:</label>
              <input name="lastName" type="text" class="form-control" id="name" placeholder="Doe" size="30" required data-validation-required-message="Please enter your last name.">
              <span class="validity"></span>
            </div>
          </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Phone Number:</label>
            <input type="tel" name="phoneNumber" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number."
              placeholder="123-456-7890" maxlength="12">
            <span class="validity"></span>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Email Address:</label>
            <input name="email" class="form-control" id="email" type="email" required placeholder="johndoe@gmail.com" pattern=".+@.+"
              title="Please provide a valid email address">
            <span class="validity"></span>
          </div>
        </div>
        <div style=text-align:center;>
        <button style="background-color:rgb(255,53,53);width:25%;" type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>
  </div>
</section>