<link rel='stylesheet' href='/css/contact.css'/>


<h1> hello contact me page </h1>
<h1> Page 2 </h1>

<div class="row">
  <div class="col-md-10">
    <h3>Send us an Email: </h3>
    <form name="sentMessage" id="contactForm" action="/mailpost" method="POST">
      <div class="control-group form-group">
        <div class="controls">
          <label>Full Name:</label>
          <input name="fullName" type="text" class="form-control" id="name" placeholder="John Smith" size="30" required data-validation-required-message="Please enter your name.">
          <span class="validity"></span>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Phone Number:</label>
          <input type="tel" name="phoneNumber" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number." placeholder="123-456-7890" maxlength="12">
          <span class="validity"></span>      
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Email Address:</label>
          <input name="email" class="form-control" id="email" type="email" required
          placeholder="mary@marysway.com" pattern=".+@beststartupever.com"
          title="Please provide a valid email address">
          <span class="validity"></span>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>E-mail Message:</label>
          <textarea name="eMessage" rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none" placeholder="Your message..."></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
  </div>
</div>