<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="buttonBox">
    <div class="buttonBoxleft">
        <!--<button class="mybutton">Hello world</button>-->
    </div>
    <div class="buttonBoxright">
        <button class="mybutton">First Step - #1 Decluttering <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
    <br>
    <br>
</div>