<section class="welcome">
    <div class="intro">

        <h4>Welcome and Thank You for Subscribing!</h4>
        <img class="preface" src="images/preface.jpg">

    </div>
    <h3>5 Critical Steps - Ryan Rutter</h3>
    <p>
        Throughout this series I will share five critical steps that are crucial when preparing your home for sale! This
        will help you <span class="innerBold">maximize your profit</span> and <span class="innerBold">sell your home faster.</span>
        I look forward to hearing about your progress and
        helping you with any questions you may have along the way. Feel free to call, text, or email me (information
        below).
    </p>

    <span class="innerBold">Preface:</span>
    <p>
        What is staging? Staging involves presenting real estate specifically for the purpose of viewing so that it
        markets
        <span class="innerBold">the home </span>to appeal to the broadest possible audience of buyers.
    </p>
    <p>
        What is decorating? Decorating takes into account a person’s personal style, budget, lifestyle, criteria, and
        preferences for someone that is going to be living in the home.
    </p>
    <p>
        Don’t confuse decorating and staging. The goal is to present your home so that it appeals to the <span
            class="innerBold">broadest
        audience possible.</span> These steps will help you to prepare your home for sale in order to MAXIMIZE your
        profit and sell your
        home quicker. Everyone’s home and circumstances are different, which means that you will have to apply these
        steps
        to your own individual home according to your abilities and finances.
    </p>
    <p>
        In these steps, we are focusing our efforts on <span class="innerBold">small fixes </span> that make <span
            class="innerBold">BIG impacts,</span> while letting the buyer
        remodel
        for themselves. Keep in mind that large projects typically don’t pay for themselves, allow for profit, and can
        turn
        into a large headache. Unless a large project makes financial sense, choose to focus on the small things. The
        first
        step to the series is DECLUTTERING, so lets get started and open the next email!
    </p>
    <hr>
    <div class="bottomDiv">
        <div class="row">
            <div class="col-lg-8">
                <img class="prefaceImage" src="images/ryancard.jpg">
            </div>
            <div class="col-lg-4">
                <p class="splitpar">
                    Need a real estate agent near you? Let me refer you to a great agent that you can trust! I will be
                    contacting you soon to see how it is going!
                </p>
                Peace and God bless,
                <br>
                <span class="innerBold">Ryan Rutter</span>
            </div>
        </div>
    </div>


</section>
<div id="buttonBox">
    <div class="buttonBoxleft">
        <button class="mybutton">Hello world</button>
    </div>
    <div class="buttonBoxright">
        <button class="mybutton">Next Step - #1 Decluttering</button>
    </div>
    <br>
    <br>
</div>