<link href="css/demo.css" rel="stylesheet" />
<link href="css/wizard.css" rel="stylesheet" />
<style>
    div.navbar {
        margin: 0px;
    }

    .wizard-container {
        padding-top: 50px;
        z-index: 3;
    }

    .wizard-card .wizard-header {
        text-align: center;
        padding: 25px 0 0px;
    }
</style>

<div class="image-container set-full-height">


    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="red" id="wizard">
                        <form action="" method="">
                            <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
                            <div class="wizard-navigation">
                                <ul>
                                    <li class="pillItem">
                                        <a href="#Welcome" data-toggle="tab">Welcome</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#decluttering" data-toggle="tab">Decluttering</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#depersonalize" data-toggle="tab">Depersonalize</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#repair" data-toggle="tab">Repair/Upgrade/Update</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#cleaning" data-toggle="tab">Cleaning</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#staging" data-toggle="tab">Staging</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">

                                <div class="tab-pane" id="Welcome">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            Welcome and Thank You for Subscribing!
                                        </h3>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <section class="welcome">
                                                <div class="intro">
                                                    <img class="headImage" src="images/preface.jpg">

                                                </div>
                                                <h3 class="wizard-title">5 Critical Steps - Ryan Rutter</h3>
                                                <p>
                                                    Throughout this series I will share five critical steps that are crucial when preparing your home for sale! This will help
                                                    you
                                                    <span class="innerBold">maximize your profit</span>
                                                    and
                                                    <span class="innerBold">sell your home faster.</span>
                                                    I look forward to hearing about your progress and helping you with any questions you may have along the way. Feel free to
                                                    call, text, or email me (information below).
                                                </p>

                                                <span class="innerBold">Preface:</span>

                                                <p>
                                                    What is staging? Staging involves presenting real estate specifically for the purpose of viewing so that it markets
                                                    <span class="innerBold">the home </span>to appeal to the broadest possible audience of buyers.
                                                </p>
                                                <p>
                                                    What is decorating? Decorating takes into account a person’s personal style, budget, lifestyle, criteria, and preferences
                                                    for someone that is going to be living in the home.
                                                </p>
                                                <p>
                                                    Don’t confuse decorating and staging. The goal is to present your home so that it appeals to the
                                                    <span class="innerBold">broadest audience possible.
                                                    </span> These steps will help you to prepare your home for sale in order
                                                    to MAXIMIZE your profit and sell your home quicker. Everyone’s home and
                                                    circumstances are different, which means that you will have to apply
                                                    these steps to your own individual home according to your abilities and
                                                    finances.
                                                </p>
                                                <p style="margin-bottom: 30px;">
                                                    In these steps, we are focusing our efforts on
                                                    <span class="innerBold">small fixes </span> that make
                                                    <span class="innerBold">BIG impacts,</span> while letting the buyer remodel for themselves. Keep
                                                    in mind that large projects typically don’t pay for themselves, allow
                                                    for profit, and can turn into a large headache. Unless a large project
                                                    makes financial sense, choose to focus on the small things. The first
                                                    step to the series is DECLUTTERING, so lets get started and open the
                                                    next email!
                                                </p>

                                                <div class="bottomDiv">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <img class="prefaceImage" src="images/ryancard.jpg">
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <p class="splitpar">
                                                                Need a real estate agent near you? Let me refer you to a great agent that you can trust! I will be contacting you soon to
                                                                see how it is going!
                                                            </p>
                                                            Peace and God bless,
                                                            <br>
                                                            <span class="innerBold">Ryan Rutter</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr>
                                            </section>
                                        </div>
                                        <div class="col-sm-6">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="decluttering">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            5 Critical Steps - Ryan Rutter
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <section class="welcome">
                                                <div class="intro">
                                                    <img class="headImage" src="images/decluttering.jpg">

                                                </div>
                                                <strong>
                                                    <h3 class="wizard-title">Critical Step #1 - Decluttering</h3>
                                                </strong>
                                                <p>
                                                    What is decluttering? To declutter is to remove unnecessary items from an untidy or overcrowded place.
                                                </p>
                                                <p>
                                                    This is the SINGLE MOST IMPORTANT THING THAT YOU CAN DO in order to prepare your home for the real estate market. The goal
                                                    is to remove visual clutter and return order to a space. This includes
                                                    removing any excess or unnecessary furniture, which will instantly make
                                                    a room seem bigger. Remove all items that take up precious floor space.
                                                </p>
                                                <p>
                                                    Decluttering can also include defining a space. For example, if you are using a bedroom as a guest room and an office, it
                                                    might be a good idea to choose one or the other, instead of having both.
                                                </p>
                                                <p>

                                                    Remember what I said about applying these steps to your own individual circumstances? In this instance, if you can’t afford
                                                    to rent a storage unit when decluttering, use your garage, have a yard
                                                    sale, give/throw things away, or ask if you can store it with a friend
                                                    or relative.
                                                </p>

                                                <h3 class="wizard-title">Categorize the Clutter</h3>
                                                <ol>
                                                    <li>Items to throw away</li>
                                                    <li>Items to donate</li>
                                                    <li>Items to pack up and store</li>
                                                    <li>Items to use for staging</li>
                                                </ol>
                                                <h3 class="wizard-title"> Example #1 - The Kitchen</h3>
                                                <p>
                                                    If these items have been sitting on your counter and you haven’t used them in the last 4-8 weeks, you might want to consider
                                                    putting them away in a cabinet or storing them somewhere:
                                                </p>
                                                <p>
                                                    <div style="float: left; width: 50%;">
                                                        <ul>
                                                            <li>Kitchen-Aid Mixer</li>
                                                            <li>Blender</li>
                                                            <li>Juicer</li>
                                                            <li>Keurig</li>
                                                            <li>Expresso Machine</li>
                                                            <li>Toaster/Toaster Oven</li>
                                                        </ul>
                                                    </div>
                                                    <div style="float: right; width: 50%;">
                                                        <ul>
                                                            <li>Countertop Microwave</li>
                                                            <li>T.V. on the Counter and Cables</li>
                                                            <li>Multiple jars of ladles and spatulas</li>
                                                            <li>Clean ALL pictures and magnets off the fridge</li>
                                                            <li>Rags hanging on the cabinet doors</li>
                                                            <li>Loose Spices (not in display rack)</li>
                                                        </ul>
                                                    </div>
                                                </p>
                                                <p style="margin-bottom: 30px;">
                                                    Here are some pictures that might help:

                                                    <!-- <br></br> -->
                                                    Notice all of the knick knacks on the counter and above cabinets, the multiple jars of oil, the green salt and pepper dish,
                                                    tea pot, radio, and multiple items on the refrigerator. This is a very
                                                    nice kitchen, but a home buyer might not be able to see the kitchen through
                                                    all of the clutter.
                                                </p>
                                                <img class="headImage" src="images/declutter1.png">
                                                <p>
                                                    How about a before and after? Notice in the photo below, the fern on top of the cabinet is gone, the refrigerator is cleaned
                                                    off, counters simplified, and the things stacked on top of the refrigerator
                                                    are gone too. The one thing that I will note about the before image is
                                                    that I like the open blinds and lighting (sun coming through the window).
                                                    In this instance, there is beautiful scenery outside of the window, so
                                                    you are always encouraged to open the blinds when this is the case.
                                                </p>
                                                <img class="headImage" src="images/declutter2.jpg">
                                                <p>One of the major differences in these photos below (besides lighting) is
                                                    that the after photo is missing the coffee maker, blender, and espresso
                                                    machine underneath the right cabinet. It also has the picture frames
                                                    and radio replaced with a decorative plant.
                                                </p>
                                                <img class="headImage" src="images/declutter3.jpg">
                                                <h3 class="wizard-title">Example #2 - The Bathroom</h3>
                                                <p>Kitchens and baths are known as the deal makers and breakers. Nobody wants
                                                    to cook their food in a messy or cluttered place. Likewise, nobody wants
                                                    to bathe where they feel like they’ll be dirtier than when they entered.
                                                    These are some items that tend to clutter your bathroom counters:
                                                </p>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <ul>
                                                                <li>Toothbrushes (put up or find a nice clean holder)</li>
                                                                <li>Toothpaste</li>
                                                                <li>Hair Brushes</li>
                                                                <li>Hair Dryer</li>
                                                                <li>Curling Iron</li>
                                                                <li>Spare Rolls of TP</li>
                                                                <li>Nail Clippers</li>
                                                                <li>Old Wash Cloths</li>
                                                                <li>Excessive Candles</li>
                                                                <li>Counter Mirrors</li>
                                                                <li>Makeup</li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                <li>Jewelry Stand</li>
                                                                <li>Bobby Pin and Hair Ties</li>
                                                                <li>Razors</li>
                                                                <li>Chargers</li>
                                                                <li>Lotions</li>
                                                                <li>Sprays</li>
                                                                <li>Multiple Shampoos</li>
                                                                <li>Multiple Conditioners</li>
                                                                <li>Multiple Body Washes</li>
                                                                <li>Used Towels</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p>
                                                    Basically, if you have 1 shampoo, 1 conditioner, and 1 soap in the shower and 1 soap dispenser, 1 toothbrush holder (if you
                                                    don’t have a place to put them out-of-sight), and maybe 1 new candle,
                                                    you should be good. Simplify and declutter! In the photo below, I would
                                                    put the basket in the cabinet and put something decorative in it's place.
                                                    That being said, it looks much better than before!
                                                </p>
                                                <img class="headImage" src="images/declutter4.jpg">
                                                <h3 class="wizard-title">Example #3 - The Bedroom</h3>
                                                <p>In bedrooms, make sure to maximize the space! Remove excess furniture or
                                                    clutter that takes up precious floor space. A 12x12 or 10x10 room can
                                                    be made to seem large or small depending on how it is staged. Simply
                                                    put, provide a CLEAN, DEFINED, and DECLUTTERED room with maximized floor
                                                    space! Here are some suggestions for simplifying and uncluttering:
                                                </p>
                                                <ul>
                                                    <li>Clean off the tops of your dressers (maybe one candle or decor item)</li>
                                                    <li>Clean off the tops of your nights stands (maybe a lamp and/or decor item)</li>
                                                    <li>Tidy up or remove cables such as phone chargers</li>
                                                    <li>Remove Televisions (notice there are no t.v.'s in bedrooms on HGTV) :)</li>
                                                    <li>Less is typically more (simplify the space)</li>
                                                    <li>Remove/hide controllers or remotes</li>
                                                    <li>Make your bed, which might mean buying a "bed in a bag"</li>
                                                </ul>
                                                Here is a great example of what a decluttered bedroom looks like:
                                                <img class="headImage" src="images/declutter5.jpg">
                                                <p>One note about the picture above... Although the mat on the floor looks better
                                                    for the picture because of color balance, the bedroom will most likely
                                                    look larger in person without the mat on the floor.
                                                </p>
                                                <p>
                                                    Congratulations! You made it through the first critical step! The second critical step to maximizing profit and selling your
                                                    home in less time is to DEPERSONALIZE!
                                                </p>
                                                <hr>
                                            </section>
                                        </div>

                                    </div>
                                </div>
                                <!--enter next page here-->
                                <div class="tab-pane" id="decluttering">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            5 Critical Steps - Ryan Rutter
                                        </h3>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <section class="decluttering">
                                                <div class="intro">
                                                    <img class="headImage" src="images/decluttering.jpg">

                                                </div>
                                                <strong>
                                                    <h3 class="wizard-title">Critical Step #1 - Decluttering</h3>
                                                </strong>
                                                <p>
                                                    What is decluttering? To declutter is to remove unnecessary items from an untidy or overcrowded place.
                                                </p>
                                                <p>
                                                    This is the SINGLE MOST IMPORTANT THING THAT YOU CAN DO in order to prepare your home for the real estate market. The goal
                                                    is to remove visual clutter and return order to a space. This includes
                                                    removing any excess or unnecessary furniture, which will instantly make
                                                    a room seem bigger. Remove all items that take up precious floor space.
                                                </p>
                                                <p>
                                                    Decluttering can also include defining a space. For example, if you are using a bedroom as a guest room and an office, it
                                                    might be a good idea to choose one or the other, instead of having both.
                                                </p>
                                                <p>

                                                    Remember what I said about applying these steps to your own individual circumstances? In this instance, if you can’t afford
                                                    to rent a storage unit when decluttering, use your garage, have a yard
                                                    sale, give/throw things away, or ask if you can store it with a friend
                                                    or relative.
                                                </p>

                                                <h3 class="wizard-title">Categorize the Clutter</h3>
                                                <ol>
                                                    <li>Items to throw away</li>
                                                    <li>Items to donate</li>
                                                    <li>Items to pack up and store</li>
                                                    <li>Items to use for staging</li>
                                                </ol>
                                                <h3 class="wizard-title"> Example #1 - The Kitchen</h3>
                                                <p>
                                                    If these items have been sitting on your counter and you haven’t used them in the last 4-8 weeks, you might want to consider
                                                    putting them away in a cabinet or storing them somewhere:
                                                </p>
                                                <p>
                                                    <div style="float: left; width: 50%;">
                                                        <ul>
                                                            <li>Kitchen-Aid Mixer</li>
                                                            <li>Blender</li>
                                                            <li>Juicer</li>
                                                            <li>Keurig</li>
                                                            <li>Expresso Machine</li>
                                                            <li>Toaster/Toaster Oven</li>
                                                        </ul>
                                                    </div>
                                                    <div style="float: right; width: 50%;">
                                                        <ul>
                                                            <li>Countertop Microwave</li>
                                                            <li>T.V. on the Counter and Cables</li>
                                                            <li>Multiple jars of ladles and spatulas</li>
                                                            <li>Clean ALL pictures and magnets off the fridge</li>
                                                            <li>Rags hanging on the cabinet doors</li>
                                                            <li>Loose Spices (not in display rack)</li>
                                                        </ul>
                                                    </div>
                                                </p>
                                                <p style="margin-bottom: 30px;">
                                                    Here are some pictures that might help:

                                                    <br> Notice all of the knick knacks on the counter and above cabinets, the
                                                    multiple jars of oil, the green salt and pepper dish, tea pot, radio,
                                                    and multiple items on the refrigerator. This is a very nice kitchen,
                                                    but a home buyer might not be able to see the kitchen through all of
                                                    the clutter.
                                                </p>
                                                <img class="headImage" src="images/declutter1.png">
                                                <p>
                                                    How about a before and after? Notice in the photo below, the fern on top of the cabinet is gone, the refrigerator is cleaned
                                                    off, counters simplified, and the things stacked on top of the refrigerator
                                                    are gone too. The one thing that I will note about the before image is
                                                    that I like the open blinds and lighting (sun coming through the window).
                                                    In this instance, there is beautiful scenery outside of the window, so
                                                    you are always encouraged to open the blinds when this is the case.
                                                </p>
                                                <img class="headImage" src="images/declutter2.jpg">
                                                <p>One of the major differences in these photos below (besides lighting) is
                                                    that the after photo is missing the coffee maker, blender, and espresso
                                                    machine underneath the right cabinet. It also has the picture frames
                                                    and radio replaced with a decorative plant.
                                                </p>
                                                <img class="headImage" src="images/declutter3.jpg">
                                                <h3 class="wizard-title">Example #2 - The Bathroom</h3>
                                                <p>Kitchens and baths are known as the deal makers and breakers. Nobody wants
                                                    to cook their food in a messy or cluttered place. Likewise, nobody wants
                                                    to bathe where they feel like they’ll be dirtier than when they entered.
                                                    These are some items that tend to clutter your bathroom counters:
                                                </p>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <ul>
                                                                <li>Toothbrushes (put up or find a nice clean holder)</li>
                                                                <li>Toothpaste</li>
                                                                <li>Hair Brushes</li>
                                                                <li>Hair Dryer</li>
                                                                <li>Curling Iron</li>
                                                                <li>Spare Rolls of TP</li>
                                                                <li>Nail Clippers</li>
                                                                <li>Old Wash Cloths</li>
                                                                <li>Excessive Candles</li>
                                                                <li>Counter Mirrors</li>
                                                                <li>Makeup</li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                <li>Jewelry Stand</li>
                                                                <li>Bobby Pin and Hair Ties</li>
                                                                <li>Razors</li>
                                                                <li>Chargers</li>
                                                                <li>Lotions</li>
                                                                <li>Sprays</li>
                                                                <li>Multiple Shampoos</li>
                                                                <li>Multiple Conditioners</li>
                                                                <li>Multiple Body Washes</li>
                                                                <li>Used Towels</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p>
                                                    Basically, if you have 1 shampoo, 1 conditioner, and 1 soap in the shower and 1 soap dispenser, 1 toothbrush holder (if you
                                                    don’t have a place to put them out-of-sight), and maybe 1 new candle,
                                                    you should be good. Simplify and declutter! In the photo below, I would
                                                    put the basket in the cabinet and put something decorative in it's place.
                                                    That being said, it looks much better than before!
                                                </p>
                                                <img class="headImage" src="images/declutter4.jpg">
                                                <h3 class="wizard-title">Example #3 - The Bedroom</h3>
                                                <p>In bedrooms, make sure to maximize the space! Remove excess furniture or
                                                    clutter that takes up precious floor space. A 12x12 or 10x10 room can
                                                    be made to seem large or small depending on how it is staged. Simply
                                                    put, provide a CLEAN, DEFINED, and DECLUTTERED room with maximized floor
                                                    space! Here are some suggestions for simplifying and uncluttering:
                                                </p>
                                                <ul>
                                                    <li>Clean off the tops of your dressers (maybe one candle or decor item)</li>
                                                    <li>Clean off the tops of your nights stands (maybe a lamp and/or decor item)</li>
                                                    <li>Tidy up or remove cables such as phone chargers</li>
                                                    <li>Remove Televisions (notice there are no t.v.'s in bedrooms on HGTV) :)</li>
                                                    <li>Less is typically more (simplify the space)</li>
                                                    <li>Remove/hide controllers or remotes</li>
                                                    <li>Make your bed, which might mean buying a "bed in a bag"</li>
                                                </ul>
                                                Here is a great example of what a decluttered bedroom looks like:
                                                <img class="headImage" src="images/declutter5.jpg">
                                                <p>One note about the picture above... Although the mat on the floor looks better
                                                    for the picture because of color balance, the bedroom will most likely
                                                    look larger in person without the mat on the floor.
                                                </p>
                                                <p>
                                                    Congratulations! You made it through the first critical step! The second critical step to maximizing profit and selling your
                                                    home in less time is to DEPERSONALIZE!
                                                </p>
                                                <hr>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <!--enter next page here-->
                                <div class="tab-pane" id="depersonalize">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            5 Critical Steps - Ryan Rutter
                                        </h3>

                                    </div>
                                    <div class="col-sm-12">
                                        <section class="welcome">
                                            <div class="intro">
                                                <img class="headImage" src="images/depersonalize1.png">

                                            </div>
                                            <strong>
                                                <h3 class="wizard-title">Critical Step #2 - Depersonalize</h3>
                                            </strong>
                                            <p>
                                                What does it mean to depersonalize your home? The dictionary describes it as “divest of human characteristics or individuality.”
                                            </p>
                                            <p>
                                                There are two goals for depersonalization. The first is to protect your assets by removing anything that provides personal
                                                information about who lives in the house. The second is to allow potential
                                                buyers the ability to envision themselves and their own personal items in
                                                your home. If they can only see your personal items and your history, it
                                                makes it difficult for people to see themselves there.
                                            </p>
                                            <p>
                                                Nothing against this awesome family photo (above), but when a buyer walks into your home, they don't need to imagine another
                                                family in that house, they need to be able to imagine their own family in
                                                that house. Buyers are walking into a home for a
                                                <strong>fresh start and clean slate. I would even say a dream life or fantasy.</strong>
                                                By depersonalizing your home, you allow them to envision their lives in your home.
                                            </p>
                                            <p>
                                                To protect your assets and depersonalize remove items such as these:
                                            </p>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <ul>
                                                            <li>Photographs</li>
                                                            <li>Expensive Jewelry</li>
                                                            <li>Prescription Drugs</li>
                                                            <li>Bank Statements</li>
                                                            <li>Credit Statements</li>
                                                            <li>Weapons</li>
                                                            <li>Diplomas or Awards</li>
                                                            <li>Information on Refrigerators</li>
                                                            <li>Knick Knacks</li>
                                                            <li>Risque' Art</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>Expensive Art</li>
                                                            <li>Spare Keys</li>
                                                            <li>Sports Memorabilia</li>
                                                            <li>Hunting Trophies</li>
                                                            <li>Pets (Cages or Crates)</li>
                                                            <li>Odors</li>
                                                            <li>Info. on Refrigerator</li>
                                                            <li>Info. on Bulletin Boards (such as invitations or schedules)</li>
                                                            <li>Home Office Info. (passwords, security codes, and pins)</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                            <p>
                                                Here are a few example photos:

                                                <img class="headImage" src="images/depersonalize2.png">
                                                <img class="headImage" src="images/depersonalize3.jpg">
                                                <img class="headImage" src="images/depersonalize4.jpg"> Now that we know how to depersonalize, we can move on to the next step in
                                                preparing your home for sale! The third step is to REPAIR/UPDATE/UPGRADE!
                                            </p>
                                            <hr>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <!--<div class="col-sm-10 col-sm-offset-1">-->
                                        <!--<div class="col-sm-4">-->
                                        <!--<div class="choice" data-toggle="wizard-radio" rel="tooltip"-->
                                        <!--title="This is good if you travel alone.">-->
                                        <!--<input type="radio" name="job" value="Design">-->
                                        <!--<div class="icon">-->
                                        <!--<i class="material-icons">weekend</i>-->
                                        <!--</div>-->
                                        <!--<h6>Single</h6>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-4">-->
                                        <!--<div class="choice" data-toggle="wizard-radio" rel="tooltip"-->
                                        <!--title="Select this room if you're traveling with your family.">-->
                                        <!--<input type="radio" name="job" value="Code">-->
                                        <!--<div class="icon">-->
                                        <!--<i class="material-icons">home</i>-->
                                        <!--</div>-->
                                        <!--<h6>Family</h6>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-4">-->
                                        <!--<div class="choice" data-toggle="wizard-radio" rel="tooltip"-->
                                        <!--title="Select this option if you are coming with your team.">-->
                                        <!--<input type="radio" name="job" value="Code">-->
                                        <!--<div class="icon">-->
                                        <!--<i class="material-icons">business</i>-->
                                        <!--</div>-->
                                        <!--<h6>Business</h6>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!--enter next page here-->
                                <div class="tab-pane" id="repair">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            5 Critical Steps - Ryan Rutter
                                        </h3>

                                    </div>
                                    <div class="col-sm-12">
                                        <section class="welcome">
                                            <div class="intro">
                                                <img class="headImage" src="images/depersonalize1.png">

                                            </div>
                                            <strong>
                                                <h3 class="wizard-title">Critical Step #3 - Repair</h3>
                                            </strong>
                                            <p>
                                                What does it mean to depersonalize your home? The dictionary describes it as “divest of human characteristics or individuality.”
                                            </p>
                                            <p>
                                                There are two goals for depersonalization. The first is to protect your assets by removing anything that provides personal
                                                information about who lives in the house. The second is to allow potential
                                                buyers the ability to envision themselves and their own personal items in
                                                your home. If they can only see your personal items and your history, it
                                                makes it difficult for people to see themselves there.
                                            </p>
                                            <p>
                                                Nothing against this awesome family photo (above), but when a buyer walks into your home, they don't need to imagine another
                                                family in that house, they need to be able to imagine their own family in
                                                that house. Buyers are walking into a home for a
                                                <strong>fresh start and clean slate. I would even say a dream life or fantasy.</strong>
                                                By depersonalizing your home, you allow them to envision their lives in your home.
                                            </p>
                                            <p>
                                                To protect your assets and depersonalize remove items such as these:
                                            </p>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <ul>
                                                            <li>Photographs</li>
                                                            <li>Expensive Jewelry</li>
                                                            <li>Prescription Drugs</li>
                                                            <li>Bank Statements</li>
                                                            <li>Credit Statements</li>
                                                            <li>Weapons</li>
                                                            <li>Diplomas or Awards</li>
                                                            <li>Information on Refrigerators</li>
                                                            <li>Knick Knacks</li>
                                                            <li>Risque' Art</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>Expensive Art</li>
                                                            <li>Spare Keys</li>
                                                            <li>Sports Memorabilia</li>
                                                            <li>Hunting Trophies</li>
                                                            <li>Pets (Cages or Crates)</li>
                                                            <li>Odors</li>
                                                            <li>Info. on Refrigerator</li>
                                                            <li>Info. on Bulletin Boards (such as invitations or schedules)</li>
                                                            <li>Home Office Info. (passwords, security codes, and pins)</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                            <p>
                                                Here are a few example photos:

                                                <img class="headImage" src="images/depersonalize2.png">
                                                <img class="headImage" src="images/depersonalize3.jpg">
                                                <img class="headImage" src="images/depersonalize4.jpg"> Now that we know how to depersonalize, we can move on to the next step in
                                                preparing your home for sale! The third step is to REPAIR/UPDATE/UPGRADE!
                                            </p>
                                            <hr>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <!--<div class="col-sm-10 col-sm-offset-1">-->
                                        <!--<div class="col-sm-4">-->
                                        <!--<div class="choice" data-toggle="wizard-radio" rel="tooltip"-->
                                        <!--title="This is good if you travel alone.">-->
                                        <!--<input type="radio" name="job" value="Design">-->
                                        <!--<div class="icon">-->
                                        <!--<i class="material-icons">weekend</i>-->
                                        <!--</div>-->
                                        <!--<h6>Single</h6>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-4">-->
                                        <!--<div class="choice" data-toggle="wizard-radio" rel="tooltip"-->
                                        <!--title="Select this room if you're traveling with your family.">-->
                                        <!--<input type="radio" name="job" value="Code">-->
                                        <!--<div class="icon">-->
                                        <!--<i class="material-icons">home</i>-->
                                        <!--</div>-->
                                        <!--<h6>Family</h6>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-4">-->
                                        <!--<div class="choice" data-toggle="wizard-radio" rel="tooltip"-->
                                        <!--title="Select this option if you are coming with your team.">-->
                                        <!--<input type="radio" name="job" value="Code">-->
                                        <!--<div class="icon">-->
                                        <!--<i class="material-icons">business</i>-->
                                        <!--</div>-->
                                        <!--<h6>Business</h6>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>





                <div class="wizard-footer">
                    <div class="pull-right">
                        <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='First Step - #1 Decluttering' />
                        <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />
                    </div>
                    <div class="pull-left">
                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />

                        <div class="footer-checkbox">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes">
                                    </label>
                                    Subscribe to our newsletter
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </form>
            </div>
        </div>
        <!-- wizard container -->
    </div>
</div>
<!-- row -->
</div>
<!--  big container -->

<div class="footer">
    <div class="container text-center">
        Copyright © 2017 Keller Williams AL Gulf Coast - Daphne, All rights reserved.

    </div>
</div>
</div>


<!--   Core JS Files   -->
<script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.bootstrap.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="js/material-bootstrap-wizard.js"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="js/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".moving-tab").remove();
    })


</script>