<link href="css/demo.css" rel="stylesheet"/>
<link href="css/wizard.css" rel="stylesheet"/>
<style>
    div.navbar {
        margin: 0px;
    }

    .wizard-container {
        padding-top: 50px;
        z-index: 3;
    }

    .wizard-card .wizard-header {
        text-align: center;
        padding: 25px 0 0px;
    }
</style>
<div class="image-container set-full-height">


    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="red" id="wizard">
                        <form action="" method="">
                            <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
                            <div class="wizard-navigation">
                                <ul>
                                    <li><a href="#details" data-toggle="tab">Welcome</a></li>
                                    <li><a href="#captain" data-toggle="tab">Decluttering</a></li>
                                    <li><a href="#description" data-toggle="tab">Depersonalize</a></li>
                                    <li><a href="#description" data-toggle="tab">Extra Details</a></li>
                                    <li><a href="#description" data-toggle="tab">Extra Details</a></li>
                                    <li><a href="#description" data-toggle="tab">Extra Details</a></li>
                                </ul>
                            </div>

                            <div class="tab-content">

                                <div class="tab-pane" id="details">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            Welcome and thanks for subscribing
                                        </h3>
                                        <h5>5 Critical Steps - Ryan Rutter</h5>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <section class="welcome">
                                                <div class="intro">
                                                    <img class="headImage" src="images/preface.jpg">

                                                </div>
                                                <h3>5 Critical Steps - Ryan Rutter</h3>
                                                <p>
                                                    Throughout this series I will share five critical steps that are
                                                    crucial when preparing your home for sale! This
                                                    will help you <span class="innerBold">maximize your profit</span>
                                                    and <span class="innerBold">sell your home faster.</span>
                                                    I look forward to hearing about your progress and
                                                    helping you with any questions you may have along the way. Feel free
                                                    to call, text, or email me (information
                                                    below).
                                                </p>

                                                <span class="innerBold">Preface:</span>
                                                <p>
                                                    What is staging? Staging involves presenting real estate
                                                    specifically for the purpose of viewing so that it
                                                    markets
                                                    <span class="innerBold">the home </span>to appeal to the broadest
                                                    possible audience of buyers.
                                                </p>
                                                <p>
                                                    What is decorating? Decorating takes into account a person’s
                                                    personal style, budget, lifestyle, criteria, and
                                                    preferences for someone that is going to be living in the home.
                                                </p>
                                                <p>
                                                    Don’t confuse decorating and staging. The goal is to present your
                                                    home so that it appeals to the <span class="innerBold">broadest audience
                                                    possible.</span> These steps will help you to prepare your home for
                                                    sale in order to
                                                    MAXIMIZE your profit and sell your home quicker. Everyone’s home and
                                                    circumstances are different, which
                                                    means that you will have to apply these steps
                                                    to your own individual home according to your abilities and
                                                    finances.
                                                </p>
                                                <p style="margin-bottom: 30px;">
                                                    In these steps, we are focusing our efforts on <span
                                                        class="innerBold">small fixes </span> that make <span
                                                        class="innerBold">BIG impacts,</span> while letting the buyer
                                                    remodel
                                                    for themselves. Keep in mind that large projects typically don’t pay
                                                    for themselves, allow for profit, and can
                                                    turn
                                                    into a large headache. Unless a large project makes financial sense,
                                                    choose to focus on the small things. The
                                                    first
                                                    step to the series is DECLUTTERING, so lets get started and open the
                                                    next email!
                                                </p>

                                                <div class="bottomDiv">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <img class="prefaceImage" src="images/ryancard.jpg">
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <p class="splitpar">
                                                                Need a real estate agent near you? Let me refer you to a
                                                                great agent that you can trust! I will be
                                                                contacting you soon to see how it is going!
                                                            </p>
                                                            Peace and God bless,
                                                            <br>
                                                            <span class="innerBold">Ryan Rutter</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr>
                                            </section>
                                        </div>
                                        <!--<div class="col-sm-6">-->
                                        <!--<div class="input-group">-->
                                        <!--<span class="input-group-addon">-->
                                        <!--<i class="material-icons">email</i>-->
                                        <!--</span>-->
                                        <!--<div class="form-group label-floating">-->
                                        <!--<label class="control-label">Your Email</label>-->
                                        <!--<input name="name" type="text" class="form-control">-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="input-group">-->
                                        <!--<span class="input-group-addon">-->
                                        <!--<i class="material-icons">lock_outline</i>-->
                                        <!--</span>-->
                                        <!--<div class="form-group label-floating">-->
                                        <!--<label class="control-label">Your Password</label>-->
                                        <!--<input name="name2" type="password" class="form-control">-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--</div>-->
                                        <div class="col-sm-6">
                                            <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Country</label>-->
                                            <!--<select class="form-control">-->
                                            <!--<option disabled="" selected=""></option>-->
                                            <!--<option value="Afghanistan"> Afghanistan</option>-->
                                            <!--<option value="Albania"> Albania</option>-->
                                            <!--<option value="Algeria"> Algeria</option>-->
                                            <!--<option value="American Samoa"> American Samoa</option>-->
                                            <!--<option value="Andorra"> Andorra</option>-->
                                            <!--<option value="Angola"> Angola</option>-->
                                            <!--<option value="Anguilla"> Anguilla</option>-->
                                            <!--<option value="Antarctica"> Antarctica</option>-->
                                            <!--<option value="...">...</option>-->
                                            <!--</select>-->
                                            <!--</div>-->
                                            <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Daily Budget</label>-->
                                            <!--<select class="form-control">-->
                                            <!--<option disabled="" selected=""></option>-->
                                            <!--<option value="Afghanistan"> < $100</option>-->
                                            <!--<option value="Albania"> $100 - $499</option>-->
                                            <!--<option value="Algeria"> $499 - $999</option>-->
                                            <!--<option value="American Samoa"> $999+</option>-->
                                            <!--</select>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="captain">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            Critical Step #1 Decluttering
                                        </h3>
                                        <h5>5 Critical Steps - Ryan Rutter</h5>
                                    </div>
                                    <div class="col-sm-12">
                                        <section class="welcome">
                                            <div class="intro">
                                                <img class="headImage" src="images/decluttering.jpg">

                                            </div>
                                            <strong><h3>Critical Step #1 - Decluttering</h3></strong>
                                            <p>
                                                What is decluttering? To declutter is to remove unnecessary items from
                                                an untidy or overcrowded place.
                                            </p>
                                            <p>
                                                This is the SINGLE MOST IMPORTANT THING THAT YOU CAN DO in order to
                                                prepare your home for the real estate market. The goal is to remove
                                                visual clutter and return order to a space. This includes removing any
                                                excess or unnecessary furniture, which will instantly make a room seem
                                                bigger. Remove all items that take up precious floor space.
                                            </p>
                                            <p>
                                                Decluttering can also include defining a space. For example, if you are
                                                using a bedroom as a guest room and an office, it might be a good idea
                                                to choose one or the other, instead of having both.
                                            </p>
                                            <p>

                                                Remember what I said about applying these steps to your own individual
                                                circumstances? In this instance, if you can’t afford to rent a storage
                                                unit when decluttering, use your garage, have a yard sale, give/throw
                                                things away, or ask if you can store it with a friend or relative.

                                                Categorize the Clutter
                                                Items to throw away
                                                Items to donate
                                                Items to pack up and store
                                                Items to use for staging
                                                Example #1 - The Kitchen
                                                If these items have been sitting on your counter and you haven’t used
                                                them in the last 4-8 weeks, you might want to consider putting them away
                                                in a cabinet or storing them somewhere:
                                            </p>
                                            <p style="margin-bottom: 30px;">
                                                Don’t confuse decorating and staging. The goal is to present your
                                                home so that it appeals to the <span class="innerBold">broadest audience
                                                    possible.</span> These steps will help you to prepare your home for
                                                sale in order to
                                                MAXIMIZE your profit and sell your home quicker. Everyone’s home and
                                                circumstances are different, which
                                                means that you will have to apply these steps
                                                to your own individual home according to your abilities and
                                                finances.
                                            </p>
                                            <hr>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <!--<div class="col-sm-10 col-sm-offset-1">-->
                                        <!--<div class="col-sm-4">-->
                                        <!--<div class="choice" data-toggle="wizard-radio" rel="tooltip"-->
                                        <!--title="This is good if you travel alone.">-->
                                        <!--<input type="radio" name="job" value="Design">-->
                                        <!--<div class="icon">-->
                                        <!--<i class="material-icons">weekend</i>-->
                                        <!--</div>-->
                                        <!--<h6>Single</h6>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-4">-->
                                        <!--<div class="choice" data-toggle="wizard-radio" rel="tooltip"-->
                                        <!--title="Select this room if you're traveling with your family.">-->
                                        <!--<input type="radio" name="job" value="Code">-->
                                        <!--<div class="icon">-->
                                        <!--<i class="material-icons">home</i>-->
                                        <!--</div>-->
                                        <!--<h6>Family</h6>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-4">-->
                                        <!--<div class="choice" data-toggle="wizard-radio" rel="tooltip"-->
                                        <!--title="Select this option if you are coming with your team.">-->
                                        <!--<input type="radio" name="job" value="Code">-->
                                        <!--<div class="icon">-->
                                        <!--<i class="material-icons">business</i>-->
                                        <!--</div>-->
                                        <!--<h6>Business</h6>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="tab-pane" id="description">
                                    <div class="row">
                                        <h4 class="info-text"> Drop us a small description.</h4>
                                        <div class="col-sm-6 col-sm-offset-1">
                                            <div class="form-group">
                                                <label>Room description</label>
                                                <textarea class="form-control" placeholder="" rows="6"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Example</label>
                                                <p class="description">"The room really nice name is recognized as being
                                                    a really awesome room. We use it every sunday when we go fishing and
                                                    we catch a lot. It has some kind of magic shield around it."</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="pull-right">
                                    <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next'
                                           value='First Step - #1 Decluttering'/>
                                    <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish'
                                           value='Finish'/>
                                </div>
                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd'
                                           name='previous' value='Previous'/>

                                    <div class="footer-checkbox">
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes">
                                                </label>
                                                Subscribe to our newsletter
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div> <!-- row -->
    </div> <!--  big container -->

    <div class="footer">
        <div class="container text-center">
            Copyright © 2017 Keller Williams AL Gulf Coast - Daphne, All rights reserved.

        </div>
    </div>
</div>


<!--   Core JS Files   -->
<script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.bootstrap.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="js/material-bootstrap-wizard.js"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="js/jquery.validate.min.js"></script>
