<link href="css/demo.css" rel="stylesheet" />
<link href="css/wizard.css" rel="stylesheet" />
<style>
    div.navbar {
        margin: 0px;
    }

    .wizard-container {
        padding-top: 50px;
        z-index: 3;
    }

    .wizard-card .wizard-header {
        text-align: center;
        padding: 25px 0 0px;
    }
</style>

<div class="image-container set-full-height">


    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="red" id="wizard">
                        <form action="" method="">
                            <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
                            <div class="wizard-navigation">
                                <ul>
                                    <li class="pillItem">
                                        <a href="#Welcome" data-toggle="tab">Welcome</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#decluttering" data-toggle="tab">Decluttering</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#depersonalize" data-toggle="tab">Depersonalize</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#repair" data-toggle="tab">Repair/Upgrade/Update</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#cleaning" data-toggle="tab">Cleaning</a>
                                    </li>
                                    <li class="pillItem">
                                        <a href="#staging" data-toggle="tab">Staging</a>
                                    </li>
                                    <li>
                                        <a href="#finalstep" data-toggle="tab">The Final Step</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">

                                <div class="tab-pane" id="Welcome">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            Welcome and Thank You for Subscribing!
                                        </h3>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <section class="welcome">
                                                <div class="intro">
                                                    <img class="headImage" src="images/preface.jpg">

                                                </div>
                                                <h3 class="wizard-title">5 Critical Steps - Ryan Rutter</h3>
                                                <p>
                                                    Throughout this series I will share five critical steps that are crucial when preparing your home for sale! This will help
                                                    you
                                                    <strong>maximize your profit</strong>
                                                    and
                                                    <strong>sell your home faster.</strong>
                                                    I look forward to hearing about your progress and helping you with any questions you may have along the way. Feel free to
                                                    call, text, or email me (information below).
                                                </p>

                                                <strong>PREFACE:</strong>

                                                <p>
                                                    What is staging? Staging involves presenting real estate specifically for the purpose of viewing so that it markets
                                                    <strong>the home </strong>to appeal to the broadest possible audience of buyers.
                                                </p>
                                                <p>
                                                    What is decorating? Decorating takes into account a person’s personal style, budget, lifestyle, criteria, and preferences
                                                    for someone that is going to be living in the home.
                                                </p>
                                                <p>
                                                    Don’t confuse decorating and staging. The goal is to present your home so that it appeals to the
                                                    <strong>broadest audience possible.
                                                    </strong> These steps will help you to prepare your home for sale in order
                                                    to MAXIMIZE your profit and sell your home quicker. Everyone’s home and
                                                    circumstances are different, which means that you will have to apply
                                                    these steps to your own individual home according to your abilities and
                                                    finances.
                                                </p>
                                                <p style="margin-bottom: 30px;">
                                                    In these steps, we are focusing our efforts on
                                                    <strong>small fixes </strong> that make
                                                    <strong>BIG impacts,</strong> while letting the buyer remodel for themselves. Keep
                                                    in mind that large projects typically don’t pay for themselves, allow
                                                    for profit, and can turn into a large headache. Unless a large project
                                                    makes financial sense, choose to focus on the small things. The first
                                                    step to the series is DECLUTTERING, so lets get started and open the
                                                    next step!
                                                </p>

                                                <div class="bottomDiv">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <img class="prefaceImage" src="images/ryancard.jpg">
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <p class="splitpar">
                                                                Need a real estate agent near you? Let me refer you to a great agent that you can trust! I will be contacting you soon to
                                                                see how it is going!
                                                            </p>
                                                            <div style=text-align:right;>
                                                            Peace and God bless,
                                                            <br>
                                                            <span class="innerBold">Ryan Rutter</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr>
                                            </section>
                                        </div>
                                        <div class="col-sm-6">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="decluttering">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            5 Critical Steps - Ryan Rutter
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <section class="welcome">
                                                <div class="intro">
                                                    <img class="headImage" src="images/decluttering.jpg">

                                                </div>
                                                <strong>
                                                    <h3 class="wizard-title">Critical Step #1 - Decluttering</h3>
                                                </strong>
                                                <p>
                                                    <strong>What is decluttering?</strong> To declutter is to remove <strong>unnecessary</strong> items from an untidy or overcrowded place.
                                                </p>
                                                <p>
                                                    This is the SINGLE MOST IMPORTANT THING THAT YOU CAN DO in order to prepare your home for the real estate market. The goal
                                                    is to remove visual clutter and return order to a space. This includes
                                                    removing any excess or unnecessary furniture, which will instantly make
                                                    a room seem bigger. Remove all items that take up precious floor space.
                                                </p>
                                                <p>
                                                    Decluttering can also include defining a space. For example, if you are using a bedroom as a guest room and an office, it
                                                    might be a good idea to choose one or the other, instead of having both.
                                                </p>
                                                <p>

                                                    Remember what I said about applying these steps to your own individual circumstances? In this instance, if you can’t afford
                                                    to rent a storage unit when decluttering, use your garage, have a yard
                                                    sale, give/throw things away, or ask if you can store it with a friend
                                                    or relative.
                                                </p>

                                                <h3 class="wizard-title">Categorize the Clutter</h3>
                                                <ol>
                                                    <li>Items to throw away</li>
                                                    <li>Items to donate</li>
                                                    <li>Items to pack up and store</li>
                                                    <li>Items to use for staging</li>
                                                </ol>
                                                <h3 class="wizard-title"> Example #1 - The Kitchen</h3>
                                                <p>
                                                    If these items have been sitting on your counter and you haven’t used them in the last 4-8 weeks, you might want to consider
                                                    putting them away in a cabinet or storing them somewhere:
                                                </p>
                                                <p>
                                                    <div style="float: left; width: 50%;">
                                                        <ul>
                                                            <li>Kitchen-Aid Mixer</li>
                                                            <li>Blender</li>
                                                            <li>Juicer</li>
                                                            <li>Keurig</li>
                                                            <li>Expresso Machine</li>
                                                            <li>Toaster/Toaster Oven</li>
                                                        </ul>
                                                    </div>
                                                    <div style="float: right; width: 50%;">
                                                        <ul>
                                                            <li>Countertop Microwave</li>
                                                            <li>T.V. on the Counter and Cables</li>
                                                            <li>Multiple jars of ladles and spatulas</li>
                                                            <li>Clean ALL pictures and magnets off the fridge</li>
                                                            <li>Rags hanging on the cabinet doors</li>
                                                            <li>Loose Spices (not in display rack)</li>
                                                        </ul>
                                                    </div>
                                                </p>
                                                <p>
                                                    Here are some pictures that might help:
                                                </p>
                                               <p>

                                                 
                                                    Notice all of the knick knacks on the counter and above cabinets, the multiple jars of oil, the green salt and pepper dish,
                                                    tea pot, radio, and multiple items on the refrigerator. This is a very
                                                    nice kitchen, but a home buyer might not be able to see the kitchen through
                                                    all of the clutter.
                                                </p>
                                                <img class="headImage" src="images/declutter1.png">
                                                <p>
                                                    How about a before and after? Notice in the photo below, the fern on top of the cabinet is gone, the refrigerator is cleaned
                                                    off, counters simplified, and the things stacked on top of the refrigerator
                                                    are gone too. The one thing that I will note about the before image is
                                                    that I like the open blinds and lighting (sun coming through the window).
                                                    In this instance, there is beautiful scenery outside of the window, so
                                                    you are always encouraged to open the blinds when this is the case.
                                                </p>
                                                <img class="headImage" src="images/declutter2.jpg">
                                                <p>One of the major differences in these photos below (besides lighting) is
                                                    that the after photo is missing the coffee maker, blender, and espresso
                                                    machine underneath the right cabinet. It also has the picture frames
                                                    and radio replaced with a decorative plant.
                                                </p>
                                                <img class="headImage" src="images/declutter3.jpg">
                                                <h3 class="wizard-title">Example #2 - The Bathroom</h3>
                                                <p>Kitchens and baths are known as the deal makers and breakers. Nobody wants
                                                    to cook their food in a messy or cluttered place. Likewise, nobody wants
                                                    to bathe where they feel like they’ll be dirtier than when they entered.
                                                    These are some items that tend to clutter your bathroom counters:
                                                </p>
                                                <div style="float: left; width: 50%;">

                                                            <ul>
                                                                <li>Toothbrushes (put up or find a nice clean holder)</li>
                                                                <li>Toothpaste</li>
                                                                <li>Hair Brushes</li>
                                                                <li>Hair Dryer</li>
                                                                <li>Curling Iron</li>
                                                                <li>Spare Rolls of TP</li>
                                                                <li>Nail Clippers</li>
                                                                <li>Old Wash Cloths</li>
                                                                <li>Excessive Candles</li>
                                                                <li>Counter Mirrors</li>
                                                                <li>Makeup</li>
                                                            </ul>
                                             </div>
                                             <div style="float: right; width: 50%;">

                                                            <ul>
                                                                <li>Jewelry Stand</li>
                                                                <li>Bobby Pin and Hair Ties</li>
                                                                <li>Razors</li>
                                                                <li>Chargers</li>
                                                                <li>Lotions</li>
                                                                <li>Sprays</li>
                                                                <li>Multiple Shampoos</li>
                                                                <li>Multiple Conditioners</li>
                                                                <li>Multiple Body Washes</li>
                                                                <li>Used Towels</li>
                                                            </ul>
                                            </div>             
                                                <p>&nbsp;</p>
                                                <p>
                                                    Basically, if you have 1 shampoo, 1 conditioner, 1 soap in the shower, 
                                                    1 soap dispenser on the counter, 1 toothbrush holder (if you
                                                    don’t have a place to put them out-of-sight), and maybe 1 new candle,
                                                    you should be good. Simplify and declutter! In the photo below, I would
                                                    put the basket in the cabinet and put something decorative in it's place.
                                                    That being said, it looks much better than before!
                                                </p>
                                                <img class="headImage" src="images/declutter4.jpg">
                                                <h3 class="wizard-title">Example #3 - The Bedroom</h3>
                                                <p>In bedrooms, make sure to maximize the space! Remove excess furniture or
                                                    clutter that takes up precious floor space. A 12x12 or 10x10 room can
                                                    be made to seem large or small depending on how it is staged. Simply
                                                    put, provide a CLEAN, DEFINED, and DECLUTTERED room with maximized floor
                                                    space! Here are some suggestions for simplifying and uncluttering:
                                                </p>
                                                <ul>
                                                    <li>Clean off the tops of your dressers (maybe one candle or decor item)</li>
                                                    <li>Clean off the tops of your nights stands (maybe a lamp and/or decor item)</li>
                                                    <li>Tidy up or remove cables such as phone chargers</li>
                                                    <li>Remove Televisions (notice there are no t.v.'s in bedrooms on HGTV) :)</li>
                                                    <li>Less is typically more (simplify the space)</li>
                                                    <li>Remove/hide controllers or remotes</li>
                                                    <li>Make your bed, which might mean buying a "bed in a bag"</li>
                                                </ul>
                                                Here is a great example of what a decluttered bedroom looks like:
                                                <img class="headImage" src="images/declutter5.jpg">
                                                <p>One note about the picture above... Although the mat on the floor looks better
                                                    for the picture because of color balance, the bedroom will most likely
                                                    look larger in person without the mat on the floor.
                                                </p>
                                                <p>
                                                    Congratulations! You made it through the first critical step! The second critical step to maximizing profit and selling your
                                                    home in less time is to DEPERSONALIZE!
                                                </p>
                                                <hr>
                                            </section>
                                        </div>

                                    </div>
                                </div>
                                <!--enter next page here-->
                                <div class="tab-pane" id="decluttering">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            5 Critical Steps - Ryan Rutter
                                        </h3>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <section class="decluttering">
                                                <div class="intro">
                                                    <img class="headImage" src="images/decluttering.jpg">

                                                </div>
                                                <strong>
                                                    <h3 class="wizard-title">Critical Step #1 - Decluttering</h3>
                                                </strong>
                                                <p>
                                                    What is decluttering? To declutter is to remove unnecessary items from an untidy or overcrowded place.
                                                </p>
                                                <p>
                                                    This is the SINGLE MOST IMPORTANT THING THAT YOU CAN DO in order to prepare your home for the real estate market. The goal
                                                    is to remove visual clutter and return order to a space. This includes
                                                    removing any excess or unnecessary furniture, which will instantly make
                                                    a room seem bigger. Remove all items that take up precious floor space.
                                                </p>
                                                <p>
                                                    Decluttering can also include defining a space. For example, if you are using a bedroom as a guest room and an office, it
                                                    might be a good idea to choose one or the other, instead of having both.
                                                </p>
                                                <p>

                                                    Remember what I said about applying these steps to your own individual circumstances? In this instance, if you can’t afford
                                                    to rent a storage unit when decluttering, use your garage, have a yard
                                                    sale, give/throw things away, or ask if you can store it with a friend
                                                    or relative.
                                                </p>

                                                <h3 class="wizard-title">Categorize the Clutter</h3>
                                                <ol>
                                                    <li>Items to throw away</li>
                                                    <li>Items to donate</li>
                                                    <li>Items to pack up and store</li>
                                                    <li>Items to use for staging</li>
                                                </ol>
                                                <h3 class="wizard-title"> Example #1 - The Kitchen</h3>
                                                <p>
                                                    If these items have been sitting on your counter and you haven’t used them in the last 4-8 weeks, you might want to consider
                                                    putting them away in a cabinet or storing them somewhere:
                                                </p>
                                                <p>
                                                    <div style="float: left; width: 50%;">
                                                        <ul>
                                                            <li>Kitchen-Aid Mixer</li>
                                                            <li>Blender</li>
                                                            <li>Juicer</li>
                                                            <li>Keurig</li>
                                                            <li>Expresso Machine</li>
                                                            <li>Toaster/Toaster Oven</li>
                                                        </ul>
                                                    </div>
                                                    <div style="float: right; width: 50%;">
                                                        <ul>
                                                            <li>Countertop Microwave</li>
                                                            <li>T.V. on the Counter and Cables</li>
                                                            <li>Multiple jars of ladles and spatulas</li>
                                                            <li>Clean ALL pictures and magnets off the fridge</li>
                                                            <li>Rags hanging on the cabinet doors</li>
                                                            <li>Loose Spices (not in display rack)</li>
                                                        </ul>
                                                    </div>
                                                </p>
                                                <p style="margin-bottom: 30px;">
                                                    Here are some pictures that might help:

                                                    <br> Notice all of the knick knacks on the counter and above cabinets, the
                                                    multiple jars of oil, the green salt and pepper dish, tea pot, radio,
                                                    and multiple items on the refrigerator. This is a very nice kitchen,
                                                    but a home buyer might not be able to see the kitchen through all of
                                                    the clutter.
                                                </p>
                                                <img class="headImage" src="images/declutter1.png">
                                                <p>
                                                    How about a before and after? Notice in the photo below, the fern on top of the cabinet is gone, the refrigerator is cleaned
                                                    off, counters simplified, and the things stacked on top of the refrigerator
                                                    are gone too. The one thing that I will note about the before image is
                                                    that I like the open blinds and lighting (sun coming through the window).
                                                    In this instance, there is beautiful scenery outside of the window, so
                                                    you are always encouraged to open the blinds when this is the case.
                                                </p>
                                                <img class="headImage" src="images/declutter2.jpg">
                                                <p>One of the major differences in these photos below (besides lighting) is
                                                    that the after photo is missing the coffee maker, blender, and espresso
                                                    machine underneath the right cabinet. It also has the picture frames
                                                    and radio replaced with a decorative plant.
                                                </p>
                                                <img class="headImage" src="images/declutter3.jpg">
                                                <p>
                                                <h3 class="wizard-title">Example #2 - The Bathroom</h3>
                                                </p>
                                                <p>Kitchens and baths are known as the deal makers and breakers. Nobody wants
                                                    to cook their food in a messy or cluttered place. Likewise, nobody wants
                                                    to bathe where they feel like they’ll be dirtier than when they entered.
                                                    These are some items that tend to clutter your bathroom counters:
                                                </p>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <ul>
                                                                <li>Toothbrushes (put up or find a nice clean holder)</li>
                                                                <li>Toothpaste</li>
                                                                <li>Hair Brushes</li>
                                                                <li>Hair Dryer</li>
                                                                <li>Curling Iron</li>
                                                                <li>Spare Rolls of TP</li>
                                                                <li>Nail Clippers</li>
                                                                <li>Old Wash Cloths</li>
                                                                <li>Excessive Candles</li>
                                                                <li>Counter Mirrors</li>
                                                                <li>Makeup</li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                <li>Jewelry Stand</li>
                                                                <li>Bobby Pin and Hair Ties</li>
                                                                <li>Razors</li>
                                                                <li>Chargers</li>
                                                                <li>Lotions</li>
                                                                <li>Sprays</li>
                                                                <li>Multiple Shampoos</li>
                                                                <li>Multiple Conditioners</li>
                                                                <li>Multiple Body Washes</li>
                                                                <li>Used Towels</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p>
                                                    Basically, if you have 1 shampoo, 1 conditioner, and 1 soap in the shower and 1 soap dispenser, 1 toothbrush holder (if you
                                                    don’t have a place to put them out-of-sight), and maybe 1 new candle,
                                                    you should be good. Simplify and declutter! In the photo below, I would
                                                    put the basket in the cabinet and put something decorative in it's place.
                                                    That being said, it looks much better than before!
                                                </p>
                                                <img class="headImage" src="images/declutter4.jpg">
                                                <p><h3 class="wizard-title">Example #3 - The Bedroom</h3></p>
                                                <p>In bedrooms, make sure to maximize the space! Remove excess furniture or
                                                    clutter that takes up precious floor space. A 12x12 or 10x10 room can
                                                    be made to seem large or small depending on how it is staged. Simply
                                                    put, provide a CLEAN, DEFINED, and DECLUTTERED room with maximized floor
                                                    space! Here are some suggestions for simplifying and uncluttering:
                                                </p>
                                                <ul>
                                                    <li>Clean off the tops of your dressers (maybe one candle or decor item)</li>
                                                    <li>Clean off the tops of your nights stands (maybe a lamp and/or decor item)</li>
                                                    <li>Tidy up or remove cables such as phone chargers</li>
                                                    <li>Remove Televisions (notice there are no t.v.'s in bedrooms on HGTV) :)</li>
                                                    <li>Less is typically more (simplify the space)</li>
                                                    <li>Remove/hide controllers or remotes</li>
                                                    <li>Make your bed, which might mean buying a "bed in a bag"</li>
                                                </ul>
                                                Here is a great example of what a decluttered bedroom looks like:
                                                <img class="headImage" src="images/declutter5.jpg">
                                                <p>One note about the picture above... Although the mat on the floor looks better
                                                    for the picture because of color balance, the bedroom will most likely
                                                    look larger in person without the mat on the floor.
                                                </p>
                                                <p>
                                                    Congratulations! You made it through the first critical step! The second critical step to maximizing profit and selling your
                                                    home in less time is to DEPERSONALIZE!
                                                </p>
                                                <hr>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <!--enter next page here-->
                                <div class="tab-pane" id="depersonalize">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            5 Critical Steps - Ryan Rutter
                                        </h3>

                                    </div>
                                    <div class="row">
                                    <div class="col-sm-12">
                                        <section class="depersonalize">
                                            <div class="intro">
                                                <img class="headImage" src="images/depersonalize1.png">

                                            </div>
                                            <strong>
                                                <h3 class="wizard-title">Critical Step #2 - Depersonalize</h3>
                                            </strong>
                                            <p>
                                                What does it mean to depersonalize your home? The dictionary describes it as “divest of human characteristics or individuality.”
                                            </p>
                                            <p>
                                                There are two goals for depersonalization. The first is to protect your assets by removing anything that provides personal
                                                information about who lives in the house. The second is to allow potential
                                                buyers the ability to envision themselves and their own personal items in
                                                your home. If they can only see your personal items and your history, it
                                                makes it difficult for people to see themselves there.
                                            </p>
                                            <p>
                                                Nothing against this awesome family photo (above), but when a buyer walks into your home, they don't need to imagine another
                                                family in the house. They need to be able to imagine their own family in the house. Buyers are walking into a home for a
                                                <strong>FRESH START</strong> and <strong>CLEAN SLATE</strong>. I would even say that buyers are looking for a dream life or fantasy.
                                                By depersonalizing your home, you allow them to envision themselves in your home.
                                            </p>
                                            <p>
                                                To protect your assets and depersonalize remove items such as these:
                                            </p>
                                            <div style="float: left; width: 50%;">
                                                        <ul>
                                                            <li>Photographs</li>
                                                            <li>Expensive Jewelry</li>
                                                            <li>Prescription Drugs</li>
                                                            <li>Bank Statements</li>
                                                            <li>Credit Statements</li>
                                                            <li>Weapons</li>
                                                            <li>Diplomas or Awards</li>
                                                            <li>Information on Refrigerators</li>
                                                            <li>Knick Knacks</li>
                                                            <li>Risque' Art</li>
                                                        </ul>
                                            </div>
                                            <div style="float: left; width: 50%;">
                                                        <ul>
                                                            <li>Expensive Art</li>
                                                            <li>Spare Keys</li>
                                                            <li>Sports Memorabilia</li>
                                                            <li>Hunting Trophies</li>
                                                            <li>Pets (Cages or Crates)</li>
                                                            <li>Odors</li>
                                                            <li>Info. on Refrigerator</li>
                                                            <li>Info. on Bulletin Boards (such as invitations or schedules)</li>
                                                            <li>Home Office Info. (passwords, security codes, and pins)</li>
                                                        </ul>
                                            </div>
                                            <p>&nbsp;</p>
                                            
                                                Here are a few example photos:
                                            
                                                <img class="headImage" src="images/depersonalize2.png">
                                                Notice that the family portraits, the personal knick knacks, and clutter are gone.
                                                This space has been simplified and made into a clean, inviting space.
                                                <img class="headImage" src="images/depersonalize3.jpg">
                                                Where do you even start with this photo? I understand the precious memories that each
                                                one of those trophies represents, but when it comes to selling your home you might want to 
                                                consider taking them down. I would remove all of the trophies and photos from the wall (in this image)
                                                to create an inviting space for potential buyers.
                                                <img class="headImage" src="images/depersonalize4.jpg"> 
                                            <p>
                                                Now that we know how to depersonalize, we can move on to the next step in
                                                preparing your home for sale! The third step is to REPAIR, UPDATE, or UPGRADE!
                                            </p>
                                            <hr>
                                        </section>
                                    </div>
                                  </div>
                                </div>
                                <!--enter next page here-->
                                <div class="tab-pane" id="repair">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">
                                            5 Critical Steps - Ryan Rutter
                                        </h3>

                                    </div>
                                    <div class="row">
                                    <div class="col-sm-12">
                                        <section class="repair">
                                            <div class="intro">
                                                <img class="headImage" src="images/repair1.jpg">

                                            </div>
                                            <strong>
                                                <h3 class="wizard-title">Critical Step #3 - Repair/Upgrade/Update</h3>
                                            </strong>
                                            <p>
                                                This is strictly geared towards what the eye can see! So don’t get in the 
                                                attic and spend money on increased insulation! The goal is to help reinforce 
                                                the idea that the home was well maintained by the owner. These are the small 
                                                things that can add value and appeal to a home. First we’ll start with repair!
                                            </p>
                                            <h3 class="wizard-title">Repair</h3>
                                            <p>
                                                Remember, we are only focusing on what the eye can see!!! Some examples might include:
                                            </p>

                                                        <div style="float: right; width: 50%;">
                                                            <ul>  
                                                                <li>Leaky Faucets</li>
                                                                <li>Cracked/Broken Tiles</li>
                                                                <li>Grimy Caulking</li>
                                                                <li>Tarnished Hardware</li>
                                                                <li>Broken/Loose Cabinet Hinges</li>
                                                                <li>Chipped Paint</li>
                                                                <li>Lighting (bulbs or fixtures)</li>
                                                                <li>Cracks or Holes in Sheetrock</li>
                                                            </ul>
                                                        </div> 
                                                    
                                                      <div style="float: right; width: 50%;">
                                                        <ul>
                                                            <li>Cracked Windows</li>
                                                            <li>Dead Plants</li>
                                                            <li>Broken Mailbox</li>
                                                            <li>Broken/Faded Railing</li>
                                                            <li>Rotten Soffit</li>
                                                            <li>Broken Window, Porch, or Door Screen</li>
                                                            <li>Broken Flooring or Thresholds</li>
                                                        </ul>
                                                      </div>
                                                      <p>&nbsp;</p>
                                            <p>
                                                Here are a couple of example photos of things that might be repaired:
                                            </p>
                                                <img class="headImage" src="images/repair2.jpg">
                                            <p>
                                                Although this makes for a cool rustic photo (above), it would look much 
                                                better to a home buyer it it had a fresh coat of paint! Just because we 
                                                are fine with that non-functioning porch light (below), doesn't mean your buyer will be!
                                            </p>
                                                <img class="headImage" src="images/repair3.jpg">
                                            <h3 class="wizard-title">Upgrade/Update</h3>
                                            <p>
                                                Remember, we are only focusing on what the eye can see! Prioritize and deal 
                                                with the most important areas (remember kitchen and baths are deal breakers 
                                                and makers so that might be the best place to start). These don’t have to be 
                                                expensive like granite countertops, but can be incredibly affordable small 
                                                projects such as:
                                            </p>
                                            <div style="float: left; width: 50%;">
                                                        <ul>
                                                            <li>Painting the Front Door</li>
                                                            <li>New Faucet or Cabinet Pulls</li>
                                                            <li>New Front Door Mat</li>
                                                            <li>New Front Door Hardware</li>
                                                            <li>Removing or Updating Wall Paper</li>
                                                            <li>Remove Wall Paper Border</li>
                                                            <li>Paint Over Outdated Colors</li>
                                                       </ul>
                                            </div>
                                            <div style="float: right; width: 50%;">
                                                        Or Larger Projects like:
                                                        <ul>
                                                            <li>Lighting</li>
                                                            <li>Carpeting/Flooring</li>
                                                            <li>Landscaping</li>
                                                            <li>Painting Cabinets</li>
                                                            <li>New Countertops</li>
                                                        </ul>
                                            </div>
                                    <p>&nbsp;</p>

                                            <p>
                                                Here are a couple example photos:
                                            </p>
                                                <img class="headImage" src="images/repair4.jpg">
                                                <p> Look at the transformation of the 
                                                    front door! New Paint, removal of the screen door, new lighting, new 
                                                    floor mat, plants, and new hardware. What a great and welcoming entry 
                                                    compared to the before. 
                                                </p>
                                                <img class="headImage" src="images/repair5.jpg">
                                                <p>Look how a simple faucet swap can transform a kitchen area. The first faucet 
                                                    is not bad, but the second definitely will leave an impression.
                                                </p>
                                                <img class="headImage" src="images/repair6.jpg"> 
                                                
                                                <p>
                                                    What a difference lighting can make (above)! Focus on the small 
                                                    things that make the big difference! Prioritize, budget, and 
                                                    then execute the plan! After you repair, update, and/or upgrade it 
                                                    is time for the SECOND MOST IMPORTANT STEP OF THIS SERIES, which is 
                                                    to CLEAN!
                                                </p>
                                            
                                            <hr>
                                        </section>
                                    </div>
                                    </div>
                                </div>
<!--enter next page here-->
                                <div class="tab-pane" id="cleaning">
                                        <div class="wizard-header">
                                            <h3 class="wizard-title">
                                                5 Critical Steps - Ryan Rutter
                                            </h3>

                                        </div>
                                        <div class="row">
                                        <div class="col-sm-12">
                                            <section class="cleaning">
                                                <div class="intro">
                                                    <img class="headImage" src="images/clean1.jpg">

                                                </div>
                                                <strong>
                                                    <h3 class="wizard-title">Critical Step #4 - Clean</h3>
                                                </strong>
                                                <p>
                                                  Clean , clean, and clean some more. If you only do two of the 
                                                  five critical steps, <strong>Decluttering</strong> and <strong>Cleaning</strong> 
                                                  are the <strong>most important</strong>! Did you know that 6 hours of cleaning by a professional can increase the 
                                                  final price of a home by as much as $3000! Take care of grime, dirt, and 
                                                  bad smells. <strong>Bad smells</strong> not only cut short a buyer’s time in the home, but 
                                                  it can indicate larger issues such as mold or rot. Here are a few suggested 
                                                  placed to start:
                                                </p>
                                                <div style="float: left; width: 50%;">
                                                    <ul>
                                                            <li>Grout</li>
                                                            <li>Caulk</li>
                                                            <li>Toilet (Outside and In)</li>
                                                            <li>Sinks</li>
                                                            <li>Faucets and Drains</li>
                                                            <li>Tub and Shower Walls/Floor</li>
                                                            <li>Carpets</li>
                                                            <li>Return Air Grills</li>
                                                            <li>Countertops</li>
                                                            <li>Windows and Sills</li>
                                                    </ul>
                                                    </div>
                                                <div style="float: right; width: 50%;">
                                                    <ul>
                                                          
                                                            <li>Blinds (These can be disgusting)</li>
                                                            <li>Fireplace</li>
                                                            <li>Fan Blades and Lighting</li>
                                                            <li>Refrigerator (mainly outside)</li>
                                                            <li>Outdoors (think curb appeal)</li>
                                                            <li>Pressure Washing can do wonders</li>
                                                            <ul>
                                                             <li>Wind Up Hoses</li>
                                                             <li>Pick Up Toys</li>
                                                             <li>Tacky Lawn Ornaments</li>
                                                            </ul>
                                                    </ul>
                                                </div>
                                                <p>&nbsp;</p>
                                                <p>
                                                    Here are a few examples:
                                                </p>
                                                    <img class="headImage" src="images/clean2.jpg">
                                                    <p> Look at the difference some new caulk can make (above). 
                                                        Pressure washing a deck can make the difference between 
                                                        seeing a great entertainment space or seeing a maintenance 
                                                        nightmare (below). 
                                                    </p>
                                                    <img class="headImage" src="images/clean3.jpg">
                                                <p>
                                                    Pressure washing can also make the difference between an amazing 
                                                    entrance or a home that looks like it hasn't been taken care for. 
                                                    If you don't have a pressure washer, ask a friend!
                                                </p>
                                                    <img class="headImage" src="images/clean4.jpg">

                                                <p>
                                                    Cleaning and Decluttering are going to make a <strong>HUGE</strong> difference. If you 
                                                    decide to only do a couple of these steps, do these two! The last step 
                                                    is completely optional, but helps to build the fantasy for the buyer that 
                                                    we spoke about earlier. It doesn't take much money to accomplish (if any). 
                                                    The final step is STAGING!
                                                </p>                                                
                                                <hr>
                                            </section>
                                        </div>
                                        </div>
                                    </div>
<!--enter next page here-->
                                <div class="tab-pane" id="staging">
                                        <div class="wizard-header">
                                            <h3 class="wizard-title">
                                                5 Critical Steps - Ryan Rutter
                                            </h3>

                                        </div>
                                        <div class="row">
                                        <div class="col-sm-12">
                                            <section class="staging">
                                                <div class="intro">
                                                    <img class="headImage" src="images/stage1.jpg">

                                                </div>
                                                <strong>
                                                    <h3 class="wizard-title">Critical Step #5 - Staging</h3>
                                                </strong>
                                                <p>
                                                        Staging is the <strong>least important</strong> step and completely <strong>optional</strong>. 
                                                        Remember, the difference between decorating and staging? Decorating 
                                                        involves catering to an individual’s specific tastes. We don’t want 
                                                        to put individual style back into the house and undo work that we have 
                                                        already accomplished. Remember, we are trying to cater to the <strong>broadest 
                                                        possible audience</strong> to <strong>MARKET</strong> your home. 
                                                </p>
                                                <p>
                                                        When we speak of staging, you must keep in mind to stick with complementary 
                                                        colors, simplicity (less is more), and try and use what you already have so 
                                                        you don't spend more than you'll get back in the sale of your house. By 
                                                        staging, you can very inexpensively create vignettes or focal points 
                                                        (such as fake flowers or champagne in the bathroom… see below) to help build 
                                                        a fantasy for buyers.
                                                </p>
                                                <p>        
                                                        The goal is to create an alternate reality in which they can imagine themselves 
                                                        living. Remember that buyers are buying the home, not your furniture. “Staging” 
                                                        can be as a simple as reorganizing furniture and accessories, revamping pieces 
                                                        with neutral colored slipcovers, bold accent pillows, or adding/replacing art. 
                                                        Other ways are as follows:
                                                </p>
                                                <ul>
                                                    <li>Bed in a bag</li>
                                                    <li>Vases with Fake Flowers</li>
                                                    <li>Flowers by the Front Door</li>
                                                    <li>Candles by the Tub</li>
                                                    <li>Lush Comforter</li>
                                                </ul>
                                            
                                            <p>
                                                Steps 1-4 are designed to create a clean/tidy house that is in a good state of repair.
                                            </p>    
                                            <p>
                                                Step 5: Is designed to accentuate the positive features of a home and minimize the 
                                                negative. For example, if you have damaged flooring next to the fireplace, distract 
                                                from the flooring by making them focus on the beautiful fireplace instead! Don't have 
                                                a shower in your master bathroom, make the tub look amazing! Use the positive features 
                                                to detract from the negative! Apply this principle throughout the inside and outside of 
                                                your home. By achieving this goal, it will allow the buyer to imagine themselves living 
                                                in YOUR home!
                                            </p>
                                            <p>&nbsp;</p>
                                                <p>
                                                  Here are some examples of staging:
                                                </p>
                                                    <img class="headImage" src="images/stage2.jpg">
                                                     Notice (above) the difference one less pillow, opened blinds, 
                                                        lighting, and a neutral blanket laid on the end of the bed can make. 
                                                        How about those vignettes that we spoke of earlier (below)?
                                                    
                                                    <img class="headImage" src="images/stage3.png">
                                                    <img class="headImage" src="images/stage4.jpg">

                                                <p>
                                                    No I don't recommend pouring the champagne, but an unopened one with a couple 
                                                    of glasses, some flowers, and new candles might do the trick. These simply help 
                                                    to build on the emotions of the buyer to get them excited about living in your home! 
                                                    What next? The Final Step - THE SALE!
                                                </p>                                                
                                                <hr>
                                            </section>
                                        </div>
                                        </div>
                                    </div>
<!--enter next page here-->
<div class="tab-pane" id="finalstep">
        <div class="wizard-header">
            <h3 class="wizard-title">
                5 Critical Steps - Ryan Rutter
            </h3>

        </div>
        <div class="row">
        <div class="col-sm-12">
            <section class="finalstep">
                <div class="intro">
                    <img class="headImage" src="images/sale1.png">

                </div>
                <strong>
                    <h3 class="wizard-title">The Final Critical Step - Selling Your Home</h3>
                </strong>
                <p>
                 Now that you've gone through the steps to PREPARE your home for sale, you need to decide 
                 how you are going to sell! Picking a real estate agent can be time consuming and challenging 
                 if you don't already know what you are getting. 
                </p>
                <p>
                Here are some things to look for in a Realtor®:
                </p>
                <ul>
                    <li>Are you a full-time or part-time agent? If they are part-time, they might not have the time for you!</li>
                    <li>What is the average number of days your listings are on the market before selling? This might relate directly to their (or their company's) marketing ability and online presence.</li>
                    <li>What do they do about home photos? 90% of people find their next home online. If you don't have good photos, people won't want to look at your house.</li>
                    <li>Will you service our listing personally or will we be working with your assistants? Important if you want direct communication!</li>
                    <li>How many sellers and buyers are you currently representing? If they are too busy, they might not spend time marketing your home like it deserves.</li>
                    <li>What is your Internet marketing program? Does the agent do more than post the house on the MLS? If not, you might need to reconsider.</li>
                    <li>What is your policy on responding to phone calls/emails/text messages? Communication is key!</li>
                    <li>What references can you provide? Look up their reviews on Zillow, Google, or ask some friends if they have ever used them or know someone who has.</li>
                </ul>
             
                <p>
                Need help? That is what I am here for! Give me a call and let me help you find an agent
                 near you or if you'd like me to be your agent in Baldwin or Mobile County.
                </p>  
                <p>
                Thank you for joining me for this series. I hope that you found it helpful and financially beneficial! 
                I look forward to hearing from you and how the sale of your house goes!
                </p>
            
                <div class="bottomDiv">
                        <div class="row">
                            <div class="col-lg-8">
                                <img class="prefaceImage" src="images/ryancard.jpg" width=100px>
                            </div>
                            <div class="col-lg-4" style=text-align:right;>
                                <p class="splitpar">
                                    Sincerely
                                </p>
                               <span class="innerBold">Ryan Rutter</span>
                            </div>
                        </div>
                    </div>
            
                </section>
                <hr>
            </section>
        </div>
        </div>
    </div>
<!--enter next page here-->

                            </div>
                    </div>
                </div>





                <div class="wizard-footer">
                    <div class="pull-right">
                        <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='First Step - #1 Decluttering' />
                        <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />
                    </div>
                    <div class="pull-left">
                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />

                        <div class="footer-checkbox">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes">
                                    </label>
                                    Subscribe to our newsletter
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </form>
            </div>
        </div>
        <!-- wizard container -->
    </div>
</div>
<!-- row -->
</div>
<!--  big container -->

<div class="footer">
    <div class="container text-center">
        Copyright © 2017 Keller Williams AL Gulf Coast - Daphne, All rights reserved.

    </div>
</div>
</div>


<!--   Core JS Files   -->
<script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.bootstrap.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="js/material-bootstrap-wizard.js"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="js/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".moving-tab").remove();
    })


</script>